<section>
<h1 class="title">Catégories</h1>
    <div class="columns is-multiline">
        {% for category in categories %}
            <div class="column is-one-third">
                <div class="box has-text-centered has-text-weight-bold">
                    <a href="{{ path('category_show',{id: category.id}) }}" class="has-text-primary">{{category.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<h1 class="title mt-4">Accueil - Nouveautés</h1>
<div class="columns is-multiline">
    {% for product in products %}
        <div class="column is-one-third"> {# is-one-half / is-one-quarter #}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img src="https://loremflickr.com/256/256/clothes/all?lock={{product.id}}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="{{ path('product_show',{id: product.id}) }}" class="has-text-primary">
                                    <strong>{{product.name}}</strong>
                                </a>
                                <small>{{product.createdAt|date('d/m/Y')}}</small>
                                <br>
                                <a href="{{ path('category_show',{id: product.category.id}) }}" class="has-background-success has-text-white">
                                    <strong>{{product.category.name}}</strong>
                                </a>
                                {#
                                    <br>
                                    <small class="has-background-success has-text-white">{{product.category.name}}</small>
                                    <br> 
                                #}
                                {{product.description|slice(0,50)}}
                            </p>
                            <div class="tags has-addons">
                                <span class="tag">{{ product.priceFloat|number_format(2, '.', ' ') }}</span>
                                <span class="tag is-primary">
                                    <span class="icon">
                                        <i class="fas fa-euro-sign"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
</div>